@model IEnumerable<LuckySpin.Models.Spin>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    int num = 0;
    var culture = new System.Globalization.CultureInfo("en-US");
}
<h1>Out of Luck - @ViewBag.Player.FirstName</h1>
<h2>Final Balance: @ViewBag.Player.Balance.ToString("C",culture)</h2>
<table>
    <thead><tr><th>Spin #</th><th>Result</th></tr></thead>
    <tbody>
        @foreach (LuckySpin.Models.Spin spin in @Model)
        {
            var result = (spin.IsWinning) ? "Win" : "Lose";
            num++; //increment the row number
            <tr @if (spin.IsWinning)
                {<text> style='background-color:lightgreen;' </text> }
                >
                <td>@num</td>
                <td>@result</td>
            </tr>

        }
    </tbody>


</table>
<!-- A link to Play Again -->
@Html.ActionLink("Play Again", "Index")