@model LuckySpin.ViewModels.SpinItViewModel
@inject LuckySpin.Models.TextTransformService Transform
@{
    Layout = "_Layout";
    var culture = new System.Globalization.CultureInfo("en-US");
    var display = Model.Winner ? "block" : "none";
}
<button onclick='history.go(0)'>Spin</button>
<div>@Model.A</div><div>@Model.B</div><div>@Model.C</div>
<h2>Current Balance: @Model.Balance.ToString("C", culture)</h2>
<span style="display:@display">
    <h2>Congratulations @Model.FirstName,
         <br/>You Win with a Lucky @Transform.numberToText(@Model.Luck)!</h2>
    <img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins"/>
</span>